#include "env.h"

const char ssid[] = "My-WiFi";                                                  // your network SSID (name)
const char password[] = "my-wifi-password";                                     // your network key
const unsigned char targetMac[6] =  {0x11, 0x11, 0x11, 0x11, 0x11, 0x11};       // mac to wake
const unsigned char bssid[6]     =  {0x11, 0x11, 0x11, 0x11, 0x11, 0x11};       // bssid of router (mac of the internet access point)

const unsigned char staticIpEsp[4] = {10, 0, 0, 200};                           // the ip address to assign to the esp module
const unsigned char gatewayIp[4] = {10, 0, 0, 1};                               // Routers ip address
const unsigned char subnetMask[4] = {255, 0, 0, 0};                             // Your local subnet mask